# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/
env/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Runtime
runtime/
cache/
temp/

# Environment
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Build
dist/
build/

# Misc
*.tmp
*.bak

# Python packaging
*.egg-info/