tools/qaos-worker/qaos_worker_pilot_launcher.py text eol=lf
tools/qaos-worker/qaos_worker_broker.py text eol=lf
tools/qaos-worker/qaos_worker_exchange.py text eol=lf
tools/qaos-worker/qaos_worker_pilot_deploy.py text eol=lf
